<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>

    <typeAliases>
    </typeAliases>

    <typeHandlers>
    </typeHandlers>

    <plugins>
        <plugin interceptor="org.lysu.shard.interceptor.PlanExecuteInterceptor">
            <!--如自行实现org.lysu.shard.locator.Locator接口，此处加入property,property的name必须写成“locator”，value为自行实现的Locator实现类，默认使用SpELLocator;-->
            <!--注意，自行实现的Locator必须要有一个公有构造函数，且参数类型为String-->
            <!--<property name="locator" value="org.lysu.shard.locator.SpELLocator"/>-->
        </plugin>
        <plugin interceptor="org.lysu.shard.interceptor.TableShardInterceptor"/>
    </plugins>

    <mappers>
        <mapper resource="mapper/test.xml"/>
    </mappers>

</configuration>